<% provide(:title, 'Contact') %> 
<h1>Contact</h1> 
<title><%= yield(:title) %> Contact | Ruby on Rails Tutorials Sample App</title>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at
  <a href="https://railstutorial.jp/contact">contact page</a>.
</p>
